.detail-container{
    height: 300px;
    width: 700px;
    background:#f4f4f4;
}

.detail-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.detail-info p {
    margin-top: 15px;
    font-family: Arial, Helvetica, sans-serif;
}