.form-container{
    width: 100%;
    max-width: 580px;
    margin: 20px auto 0;
    padding: 50px;
}
.form-content{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

span {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-weight: bold;
    margin-top: 70px;
    margin-bottom: 10px;
}

.form-content button{
    margin-top: 70px;
    padding: 10px;
    border-radius: 10px;
    font-size: 20px;
    font-weight: bold;
    background: #5dd08f;
    cursor: pointer;
}
