* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    outline: 0;
}
html, body , #root {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    height: 100%;
}

#root{
    background: #f4f4f4;
    height: 100%;
}